
/*
.main {
    margin: auto;
    width: 90%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}
*/

.main{
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
	text-align: center;
	color: #ffffff;
	text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
}

.text{
	margin-bottom: 25px;
	margin-top: 25px;
	font-family: 'Source Sans Pro', sans-serif;
}

.logo{
	margin-top: 70px;
	font-family: 'V5 Prophit',cursive;
	text-shadow: 1px 1px 1px #FFFFFF;
	font-size: 38px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: #ffffff !important;
}

.form-control::-moz-placeholder{
   color: #F0F0F0 !important;
   opacity: 1;
}
.form-control:-moz-placeholder{
   color: #F0F0F0 !important;
   opacity: 1;  
}  
.form-control::-webkit-input-placeholder{
   color: #F0F0F0 !important;
   opacity: 1; 
} 
.form-control:-ms-input-placeholder{
   color: #F0F0F0 !important;
   opacity: 1; 
}

@media only screen and (max-height:460px){
    /*
	Exact limit for Samsung Galaxy Grand Duo Plus screen:
	452px for Chrome Dev, 460px for Firefox. 460px is the common working value.
	Under both of these values, the page's "margin-top" will turn "70px" on phone's browser.
	*/
	.main .logo{
		margin-top: 20px;
    }

}


/**
 * bxSlider v4.2.5
 * Copyright 2013-2015 Steven Wanderski
 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */
 
.bx-wrapper ul li {
	height: 50px;
}
.bxslider {
  font-family: Georgia !important;
  font-size: 17px !important;
  text-shadow: 0.5px 0.5px 0.5px #FFFFFF !important;
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}


/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family:"V5 Prophit";
	src:url("V5PRF___.eot?") format("eot"),url("V5PRF___.woff") format("woff"),url("V5PRF___.ttf") format("truetype"),url("V5PRF___.svg#V5ProphitDot") format("svg");
	font-weight:400;
	font-style:normal;
}
